.advantages {
    margin-top: 10px;
    margin-bottom: 5%;
    font-size: 200%;
    margin-left: -20px;
    margin-right: -25px;
    line-height: 65px;
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 30px;
    padding-right: 30px;
    text-shadow: 50px 50px 50px 50px black;
}

.advantages__title {
    padding-top: 10%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.advantages__content {
    font-size: 60%;
    padding-left: 30px;
    line-height: 110%;
    padding-bottom: 40px;
}

.advantages__content1 {
    margin-top: 30%;
    margin-bottom: 60px;
}

.advantages__content2 {
    margin-bottom: 60px;
}

.advantages__content3 {
    padding-bottom: 60px;
}

.advantages__content4 {
    padding-bottom: 2%;
}