.features {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 160%;
    margin-left: -20px;
    margin-right: -20px;
    line-height: 140%;
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 5%;
    padding-right: 5%;
    text-shadow: 50px 50px 50px 50px black;
}

.features__title {
    padding-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.features__content {
    font-size: 90%;
    padding-left: 10%;
    padding-left: -10%;
    margin-left: -2%;
}

.features__content1 {
    margin-top: 100px;
    margin-bottom: 30px;
}

.features__content2 {
    margin-bottom: 30px;
}

.features__content3 {
    padding-bottom: 40px;
}