.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 8%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.header img {
    width: 60%;
}

.header .menu-btn {
    font-size: 400%;
    cursor: pointer;
    margin-right: 20%px;
    z-index: 20;
    color: rgb(218, 165, 32);
    display: block;
}