.paralaxe {
    position: fixed;
    width: 23%;
    height: 100%;
    background-image: url('../assets/img/hero.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.paralaxe img {
    height: 100%;
    width: 152%;

}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: none;
    background-image: url('../assets/img/hero.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-right: -360px;
}

.content {
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-right: -10px;
    background: rgba(58, 57, 57, 0.5);
    min-height: 100vh;
}