.paralaxe {
    position: relative;
    height: 100px;
    background-image: ("../assets/img/hero.avif");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paralaxe img {
    display: none;
}