.recommended__title {
    font-size: 180%;
    text-align: center;
    margin-bottom: 100px;
}

/* .recommended__img {
    height: 400px;
    width: 400px;
    text-align: center;
    height: auto;
    display: inline-block;
} */

.recommended__img_container {
    position: relative;
    width: 90%;
    height: 100vh;
    background-color: #f5f5f5;
}

.recommended__img {
    position: relative;
    margin-top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
    width: 90%;
    z-index: -1;
    margin-left: 2%;
}

.article1 {
    font-size: 100%;
    text-align: center;
    margin-top: -200px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 5px;
}

.recommended__chapo {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    font-size: 100%;
    margin-bottom: 8%;
}

.recommended__teaser {
    font-size: 100%;
    margin-bottom: 5%;
}

.recommended__question {
    margin-bottom: 50px;
    padding-bottom: 10px;
}